
#fragmentContent #left-content #reviewContainer {
    padding-right: 40px;
}

#fragmentContent #left-content #reviewContent {
    margin-top: 20px;
}

@media screen and (max-width: 400px) {

    #fragmentContent #left-content #reviewContainer {
        padding-right: 0;
    }

}