.entries .content {
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .entries .content article {
        height: calc(100% - 50px);
        margin-left: 120px;
        margin-top: 5px;
    }

.blog-entry-container {
    /*margin-top: 20px;*/
    padding: 20px;
    height: 330px;
    max-height: 330px;
    width: 480px;
    max-width: 480px;
    margin-right: 50px;
    background-color: #FF00FF;
    overflow: hidden;
}

.entries .titlecontainer {
    border: none;
}

.entries .titlearea {
    overflow: visible;
}

progress.withText {
    color: inherit; /* Uses the same text color as the page */
    width: 100px;
    height: 100px;
    text-align: center;
}

.progressRingText {
    font-size: 20pt;
    line-height: 25pt;
}

.entries .pagesubtitle {
    text-overflow: ellipsis;
}

.entries #mainEntriesContentSection {
    overflow: auto;
}

.entries #entriesLoading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entries .blog-entry-container:active {
    background: #5B4350;
    background-repeat: repeat;
}

.entries .blog-entry-container:hover {
    cursor: pointer;
}

.entries .entryThumbnail {
    max-width: 72px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 20px;
}

.entries .entries-doc-img-container {
    float: right;
    margin-top: 10px;
    max-width: 72px;
    margin-right: 20px;
    height: auto;
}



.entries #blog-entries-listview {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#blog-entries-listview-listview .win-item {
    width: 480px;
    height: 330px;
}

.entries .entriesSection {
    margin-top: 20px;
    margin-right: 50px;
    padding: 20px;
}

.entries #entriesContent {
    display: inline;
}


.entries #blog-entries-listview.win-listview {
    height: 100%;
    width: 100%;
}


/*@media screen and (max-width: 640px) {
    .blog-entry-container {
        background-color: #FF00FF;
    }
}*/



.entries .blog-entry-container {
    margin-right: 0px;
}

.entries #blog-entries-listview {
    margin-top: 10px;
    -ms-flex-direction: column;
}

.entries .content article {
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 0px;
}

/*.entries .content article #blog-entries-listview .blog-entry-container:first-child {
        margin-top: 10px;
    }*/
