<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Film</title>
    <link rel="stylesheet" href="film.css" />
    <script type="text/javascript" src="film.js"></script>
</head>

<body>

    <div class="templates">
        <div id="imdbTemplate">
            <img src="ms-appx:///images/externalSites/imdb/imdb-48x48.png" id="imdb-logo" alt="IMDB" />
            <!--<h2 class="imdbRating" data-win-bind="textContent: ImdbRating DocumentDetailConverters.imdbRatingConverter"></h2>-->
            <div id="ratingControl" class="win-small" data-win-control="WinJS.UI.Rating" data-win-options="{disabled: true}"></div>
        </div>

    </div>

    <section id="fragmentContent">

        <div id="left-content">

            <article id="docLocAndAvail">
                <h2 class="win-h2">Tilgjengelighet</h2>
                <div id="availabilityHolder"></div>
            </article>

        </div>

        <article id="details">

            <h2 class="win-h2">Fakta om filmen</h2>

            <div class="fact" data-win-bind="style.display: title DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'OriginalTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText: title"></div>
            </div>
            <div class="fact" data-win-bind="style.display: numbering DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Numbering'}"></div>
                <div class="fact-value" data-win-bind="innerText: numbering"></div>
            </div>
            <div class="fact" data-win-bind="style.display: partTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'PartTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText: partTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: productionYear DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ProductionYear'}"></div>
                <div class="fact-value" data-win-bind="innerText: productionYear"></div>
            </div>
            <div class="fact" data-win-bind="style.display: mediaInfo DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'TypeAndNumberOfDiscs'}"></div>
                <div class="fact-value" data-win-bind="innerText: mediaInfo"></div>
            </div>
            <div class="fact" data-win-bind="style.display: contents DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Contents'}"></div>
                <div class="fact-value" data-win-bind="innerText: contents"></div>
            </div>
            <div class="fact" data-win-bind="style.display: actorNames DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Actors'}"></div>
                <div class="fact-value" data-win-bind="innerText: actorNames DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: ageLimit DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'AgeLimit'}"></div>
                <div class="fact-value" data-win-bind="innerText: ageLimit"></div>
            </div>
            <div class="fact" data-win-bind="style.display: NnrwegianTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'NorwegianTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText: norwegianTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: subject DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Subject'}"></div>
                <div class="fact-value" data-win-bind="innerText: subject"></div>
            </div>
            <div class="fact" data-win-bind="style.display: compositionType DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'CompositionType'}"></div>
                <div class="fact-value" data-win-bind="innerText: compositionType"></div>
            </div>
            <div class="fact" data-win-bind="style.display: subtitleLanguages DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SubtitleLanguage'}"></div>
                <div class="fact-value" data-win-bind="innerText: subtitleLanguages DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: referencedPlaces DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ReferencedPlaces'}"></div>
                <div class="fact-value" data-win-bind="innerText: referencedPlaces"></div>
            </div>
            <div class="fact" data-win-bind="style.display: genres DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Genre'}"></div>
                <div class="fact-value" data-win-bind="innerText: genres DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: referredPeopleNames DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ReferredPersons'}"></div>
                <div class="fact-value" data-win-bind="innerText: referredPeopleNames DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: referredOrganizations DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ReferredOrganizations'}"></div>
                <div class="fact-value" data-win-bind="innerText: referredOrganizations DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: involvedPersonNames DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'InvolvedPersons'}"></div>
                <div class="fact-value" data-win-bind="innerText: involvedPersonNames DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: involvedOrganizations DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'InvolvedOrganizations'}"></div>
                <div class="fact-value" data-win-bind="innerText: involvedOrganizations DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: language DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Language'}"></div>
                <div class="fact-value" data-win-bind="innerText: language"></div>
            </div>
            <div class="fact" data-win-bind="style.display: languages DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Languages'}"></div>
                <div class="fact-value" data-win-bind="innerText: languages DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: responsiblePersonNames DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ResponsiblePersons'}"></div>
                <div class="fact-value" data-win-bind="innerText: responsiblePersonNames DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: publisher DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Publisher'}"></div>
                <div class="fact-value" data-win-bind="innerText: publisher"></div>
            </div>

        </article>

    </section>

</body>
</html>

