<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Noter</title>
    <link rel="stylesheet" href="sheetMusic.css" />
    <script type="text/javascript" src="sheetMusic.js"></script>

</head>

<body>

    <section id="fragmentContent">

        <div id="left-content">

            <article id="docLocAndAvail">
                <h2 class="win-h2">Tilgjengelighet</h2>
                <div id="availabilityHolder"></div>
            </article>

        </div>

        <article id="details">
            
            <h2 id="H1" class="win-h2">Fakta om noten</h2>
            
            <div class="fact" data-win-bind="style.display: composerName DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Composer'}"></div>
                <div class="fact-value" data-win-bind="innerText:composerName"></div>
            </div>
            <div class="fact" data-win-bind="style.display: standardizedTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'StandardizedTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:standardizedTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: numberOfPagesAndParts DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'NumberOfPagesAndNumberOfParts'}"></div>
                <div class="fact-value" data-win-bind="innerText:numberOfPagesAndParts"></div>
            </div>
            <div class="fact" data-win-bind="style.display: content DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Content'}"></div>
                <div class="fact-value" data-win-bind="innerText:content DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: compositionType DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'CompositionType'}"></div>
                <div class="fact-value" data-win-bind="innerText:compositionType"></div>
            </div>
            <div class="fact" data-win-bind="style.display: genre DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Genre'}"></div>
                <div class="fact-value" data-win-bind="innerText:genre"></div>
            </div>
            <div class="fact" data-win-bind="style.display: musicalLineup DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'MusicalLineup'}"></div>
                <div class="fact-value" data-win-bind="innerText:musicalLineup"></div>
            </div>
            <div class="fact" data-win-bind="style.display: involvedPersons DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'InvolvedPersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:involvedPersons DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: titlesOtherWritingForms DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'TitlesOtherWritingForms'}"></div>
                <div class="fact-value" data-win-bind="innerText:titlesOtherWritingForms"></div>
            </div>
            <div class="fact" data-win-bind="style.display: language DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Language'}"></div>
                <div class="fact-value" data-win-bind="innerText:language"></div>
            </div>
            <div class="fact" data-win-bind="style.display: languages DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Languages'}"></div>
                <div class="fact-value" data-win-bind="innerText:languages"></div>
            </div>
            <div class="fact" data-win-bind="style.display: subTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SubTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:subTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: publisher DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent:'Publisher'}"></div>
                <div class="fact-value" data-win-bind="innerText:publisher"></div>
            </div>
            <div class="fact" data-win-bind="style.display: year DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'PublishedYear'}"></div>
                <div class="fact-value" data-win-bind="innerText:year"></div>
            </div>

        </article>

    </section>

</body>
</html>

