<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Lydbok</title>
    <link rel="stylesheet" href="audioBook.css" />
    <script type="text/javascript" src="audioBook.js"></script>

</head>

<body>

    <div class="templates">

        <div id="reviewTemplate">
            <div id="reviewContent" data-win-bind="innerText: documentReview">
            </div>
        </div>

    </div>

    <section id="fragmentContent">

        <div id="left-content">

            <article id="reviewContainer">
                <h2 class="win-h2">Bokbasens omtale</h2>
                <div id="reviewHolder"></div>
            </article>

            <article id="docLocAndAvail">
                <h2 class="win-h2">Tilgjengelighet</h2>
                <div id="availabilityHolder"></div>
            </article>

        </div>

        <article id="details">

            <h2 class="win-h2">Fakta om lydboken</h2>

            <div class="fact" data-win-bind="style.display: authorName DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Author'}"></div>
                <div class="fact-value" data-win-bind="innerText: authorName"></div>
            </div>
            <div class="fact" data-win-bind="style.display: numbering DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Numbering'}"></div>
                <div class="fact-value" data-win-bind="innerText: numbering"></div>
            </div>
            <div class="fact" data-win-bind="style.display: partTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'PartTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:partTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: edition DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Edition'}"></div>
                <div class="fact-value" data-win-bind="innerText:edition"></div>
            </div>
            <div class="fact" data-win-bind="style.display: mediaInfo DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'TypeAndNumberOfDiscs'}"></div>
                <div class="fact-value" data-win-bind="innerText:mediaInfo"></div>
            </div>
            <div class="fact" data-win-bind="style.display: subject DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Subject'}"></div>
                <div class="fact-value" data-win-bind="innerText:subject"></div>
            </div>
            <div class="fact" data-win-bind="style.display: involvedPersonNames DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'InvolvedPersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:involvedPersonNames DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: referencedPlaces DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ReferencedPlaces'}"></div>
                <div class="fact-value" data-win-bind="innerText:referencedPlaces"></div>
            </div>
            <div class="fact" data-win-bind="style.display: genres DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Genre'}"></div>
                <div class="fact-value" data-win-bind="innerText:genres"></div>
            </div>
            <div class="fact" data-win-bind="style.display: language DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Language'}"></div>
                <div class="fact-value" data-win-bind="innerText:language"></div>
            </div>
            <div class="fact" data-win-bind="style.display: languages DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Languages'}"></div>
                <div class="fact-value" data-win-bind="innerText:languages"></div>
            </div>
            <div class="fact" data-win-bind="style.display: subTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SubTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:subTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: publisher DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Publisher'}"></div>
                <div class="fact-value" data-win-bind="innerText:publisher"></div>
            </div>
            <div class="fact" data-win-bind="style.display: year DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'PublishedYear'}"></div>
                <div class="fact-value" data-win-bind="innerText:year"></div>
            </div>
            <div class="fact" data-win-bind="style.display: seriesTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SeriesTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:seriesTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: seriesNumber DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SeriesNumber'}"></div>
                <div class="fact-value" data-win-bind="innerText:seriesNumber"></div>
            </div>

        </article>

    </section>

</body>
</html>
