<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Dokument</title>
    <link rel="stylesheet" href="game.css" />
    <script type="text/javascript" src="game.js"></script>

</head>

<body>

    <section id="fragmentContent">

        <div id="left-content">

            <article id="docLocAndAvail">
                <h2 class="win-h2">Tilgjengelighet</h2>
                <div id="availabilityHolder"></div>
            </article>

        </div>

        <article id="details">

            <h2 id="H1" class="win-h2">Fakta om dokumentet</h2>

            <div class="fact" data-win-bind="style.display: language DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Language'}"></div>
                <div class="fact-value" data-win-bind="innerText:language"></div>
            </div>
            <div class="fact" data-win-bind="style.display: languages DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Languages'}"></div>
                <div class="fact-value" data-win-bind="innerText:languages DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: subTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SubTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:subTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: responsiblePersonNames DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ResponsiblePersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:responsiblePersonNames DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: publisher DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent:'Publisher'}"></div>
                <div class="fact-value" data-win-bind="innerText:publisher"></div>
            </div>
            <div class="fact" data-win-bind="style.display: year DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'PublishedYear'}"></div>
                <div class="fact-value" data-win-bind="innerText:year"></div>
            </div>
            <div class="fact" data-win-bind="style.display: seriesTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SeriesTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:seriesTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: seriesNumber DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SeriesNumber'}"></div>
                <div class="fact-value" data-win-bind="innerText:seriesNumber"></div>
            </div>
            <div class="fact" data-win-bind="style.display: availabilityInfo DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'AvailabilityInfo'}"></div>
                <div class="fact-value" data-win-bind="innerText:availabilityInfo"></div>
            </div>

        </article>

    </section>

</body>
</html>