.blogs .content {
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .blogs .content article {
        height: calc(100% - 50px);
        margin-left: 120px;
        margin-top: 5px;
    }

.blogs .blog-template-container, .blogs .blog-mobile-template-container {
    height: 100%;
    padding: 20px;
}

    .blogs .blog-template-container h2 {
        margin: 0;
    }

.blogs .titlecontainer {
    border: none;
}

.blogs .titlearea {
    overflow: visible;
}

progress.withText {
    color: inherit;
    width: 100px;
    height: 100px;
    text-align: center;
}

.progressRingText {
    font-size: 20pt;
    line-height: 25pt;
}

.blogs .pagesubtitle {
    text-overflow: ellipsis;
}

.blogs #mainBlogsContentSection {
    overflow: auto;
    margin-top: 30px;
}

.blogs #blogsLoading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs .blog-template-container:active {
    background: #5B4350;
    background-repeat: repeat;
}

.blogs .blog-template-container:hover {
    cursor: pointer;
}

.blogs .blogSite:link, .blogSite:visited {
    color: white;
}

.blogs .blogCategories, .blogDescription, .blogSite {
    margin-top: 10px;
}

#blogs-listview .win-item {
    width: 400px;
    height: 250px;
}

.blogs #blogs-listview.win-listview .win-horizontal.win-viewport .win-surface {
    margin-top: 20px;
}

.blogs #blogs-listview.win-listview {
    height: 100%;
    width: 100%;
}

.blogs.fragment {
    -ms-grid-rows: 138px 1fr 0px;
}

@media screen and (max-width: 400px) {

    .blogs.fragment {
        /*-ms-grid-rows: 1fr 1fr 0px;*/
        overflow-x: hidden;
        overflow-y: auto;
    }

    .blogs .win-type-ellipsis {
        white-space: normal;
        /*overflow: visible;*/
    }

    .blogs .pagesubtitle {
        font-size: 14pt;
        /*overflow: hidden;*/
        margin-top: 10px;
    }

    .blogs .blog-mobile-template-container h2 {
        font-size: 16pt;
        margin: 0;
    }

    .fragment header[role=banner] .titlearea .pagesubtitle {
        width: calc(100% - 20px);
    }

    .blogs .content article {
        height: calc(100% - 50px);
        margin-left: 0px;
        margin-top: 5px;
    }


    .blogs #blogs-listview .win-item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 100px;
        width: 100%;
    }
}
