.blogs .content {
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .blogs .content article {
        height: calc(100% - 50px);
        margin-left: 120px;
        margin-top: 5px;
    }

    .blogs .blog-template-container {
    height: 100%;
    background-color: #330033;
    padding: 20px;
}

.blogs .titlecontainer {
    border: none;
}

.blogs .titlearea {
    overflow: visible;
}

progress.withText {
    color: inherit;
    width: 100px;
    height: 100px;
    text-align: center;
}

.progressRingText {
    font-size: 20pt;
    line-height: 25pt;
}

.blogs .pagesubtitle {
    text-overflow: ellipsis;
}

.blogs #mainBlogsContentSection {
    overflow: auto;
}

.blogs #blogsLoading {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

.blogs .blog-template-container:active {
    background: #5B4350;
    background-repeat: repeat;
}

.blogs .blog-template-container:hover {
    cursor: pointer;
}

.blogs .blogSite:link, .blogSite:visited {
    color: white;
}

.blogs .blogCategories, .blogDescription, .blogSite {
    margin-top: 10px;
}

#blogs-listview .win-item {
    width: 400px;
    height: 250px;
}

.blogs #blogs-listview.win-listview .win-horizontal.win-viewport .win-surface {
    margin-top: 20px;
}

.blogs #blogs-listview.win-listview {
    height: 100%;
    width: 100%;
}

.blogs.fragment {
    -ms-grid-rows: 138px 1fr 0px;
}
